# Virtual environments

.venv/
venv/

# Cache

__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temporaries

*.log
*.tmp
*.bak

# IDE/Editor Configurations

.vscode/
.idea/
*.swp

# System files

.DS_Store
Thumbs.db

# Sockets and local banks

*.sock
*.db

# Git

.git/
.gitignore

# Others

*.md
LICENSE